@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

*,
html,
body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	overflow-x: hidden;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

.container {
	max-width: 1150px;
	width: 100%;
	padding: 0 10px;
	margin: auto;
}

a {
	text-decoration: none;
	color: #000;
}

li {
	list-style: none;
}

/*----------- header starts -----------*/

/*----------- navbar starts -----------*/
.header {
	position: relative;
	width: 100%;
	height: 100vh;
}

.blur-effect {
	position: absolute;
	left: -100px;
	top: -180px;
	z-index: -1;
	background: #ff562225;
	width: 450px;
	aspect-ratio: 1;
	filter: blur(1000px);
	border-radius: 50%;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}

.logo {
	display: flex;
	align-items: center;
	gap: 8px;
	font-weight: 500;
}

.logo img {
	width: 35px;
}

.navlinks {
	display: flex;
	align-items: center;
	gap: 20px;
	text-transform: capitalize;
	margin-left: 20px;
	transition: all 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
	font-size: 15px;
}

.navlinks li a {
	position: relative;
}

.navlinks li a::before {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0px;
	height: 2px;
	border-radius: 50px;
	background: #000;
	transform: translateX(-50%);
	transition: all 0.5s;
}

.navlinks li a:hover::before {
	width: 100%;
}

.nav-buttons,
.small-nav-buttons {
	display: flex;
	align-items: center;
	gap: 8px;
}

:is(.nav-buttons, .small-nav-buttons) a {
	text-transform: capitalize;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 13px 25px;
	width: 115px;
	text-align: center;
	border-radius: 50px;
}

:is(.nav-buttons, .small-nav-buttons) a:nth-child(2) {
	background-color: #5d50c6;
	color: #fff;
}

:is(.nav-buttons, .small-nav-buttons) a:nth-child(2):hover {
	background-color: #493ea0;
}

:is(.nav-buttons, .small-nav-buttons) a:nth-child(1) {
	background-color: #0000000e;
	color: black;
}

:is(.nav-buttons, .small-nav-buttons) a:nth-child(1):hover {
	background-color: #00000025;
}
/*----------- navbar ends -----------*/

.header {
	min-height: 100vh;
	height: 100%;
}

.header-container {
	display: flex;
	align-items: start;
	justify-content: space-between;
	gap: 10px;
	margin-top: 80px;
	position: relative;
}

.header-left-bg {
	position: absolute;
	top: -80px;
	right: 0;
	z-index: -1;
	width: 60%;
}

.header-left {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.header-left p:first-child {
	background-color: #fff;
	width: fit-content;
	color: #f85e9f;
	font-weight: 600;
	padding: 10px 28px;
	border-radius: 50px;
	font-size: 14px;
	display: flex;
	align-items: center;
	gap: 5px;
	box-shadow: 0 0 100px #ff562225;
}

.header-left p:first-child i {
	font-size: 23px;
	margin-bottom: 2px;
}

.header-left h1 {
	font-size: 60px;
	line-height: 68px;
	font-weight: 600;
}

.header-left h1 span {
	color: #f85e9f;
}

.header-left p:last-child {
	color: #9f9f9f;
	font-weight: 300;
}

.header-btns {
	display: flex;
	align-items: center;
	gap: 10px;
}

.header-btns a {
	border-radius: 50px;
	padding: 17px 25px;
	text-transform: capitalize;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.5px;
}

.header-btns a:first-child {
	background-color: #5d50c6;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.081);
	color: white;
}

.header-btns a:first-child:hover {
	background-color: #493ea0;
}

.header-btns a:last-child {
	border: 1px solid silver;
	background-color: transparent;
}

.header-btns a:last-child:hover {
	background-color: #ff562210;
	border: 1px solid #ff5622;
}

.header-btns a:last-child:hover i {
	background-color: #ff5622;
}

.header-btns a:last-child i {
	color: white;
	background-color: #5d50c6;
	border-radius: 50px;
	margin-right: 8px;
	padding: 4px 6px 4px 7px;
}

.header-right {
	width: 100%;
	display: flex;
	align-items: center;
	position: relative;
}

.header-right i {
	color: #fff;
	border-radius: 50px;
	padding: 5px 11px;
	font-size: 25px;
	position: absolute;
}

.header-right i:nth-child(1) {
	background-color: #f85e9f;
	top: 50%;
	left: -20px;
	transform: translateY(-50%) rotate(-40deg);
}

.header-right i:nth-child(2) {
	background-color: #ff5622;
	margin-left: 50px;
	padding: 6px 11px;
	bottom: 20px;
	left: 60%;
	transform: translateY(-50%);
}

.header-right p {
	text-transform: capitalize;
	background-color: #fff;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.134);
	border-radius: 50px;
	white-space: nowrap;
	padding: 9px 20px;
	position: absolute;
	top: 50%;
	right: -50px;
	font-size: 14px;
	display: flex;
	align-items: center;
	gap: 5px;
}

.header-right p i:nth-child(1) {
	background-color: transparent;
	color: #facd49;
	transform: rotate(0);
	position: relative;
	font-size: 20px;
	left: 0;
	padding: 0;
}

.search-box {
	background-color: white;
	box-shadow: 0 0 50px 0px rgba(0, 0, 0, 0.104);
	border-radius: 100px;
	padding: 20px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.search-box div {
	width: 100%;
	text-transform: capitalize;
}

.search-box div:nth-child(1) {
	font-weight: 600;
	display: flex;
	align-items: center;
	gap: 5px;
}

.search-box div:nth-child(1) i {
	font-size: 20px;
}

.search-box div:nth-child(2) {
	border-left: 1px solid #eee;
	padding: 0 20px;
}

.search-box div:nth-child(3) {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	padding: 0 30px;
}

.search-box div:last-child i {
	color: white;
	background-color: #5d50c6;
	padding: 10px 16px;
	border-radius: 50px;
	font-size: 24px;
	cursor: pointer;
	float: right;
}
.search-box div:last-child i:hover {
	background-color: #493ea0;
}

/*----------- header ends -----------*/

/*----------- sponsers section starts -----------*/
.sponsers {
	padding: 80px 0;
	margin: 100px 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sponser-blur-effect {
	position: absolute;
	top: 120%;
	right: -150px;
	border-radius: 50%;
	z-index: -1;
	width: 500px;
	aspect-ratio: 1;
	display: block;
	background-color: #fef6dd;
	filter: blur(100px);
}

.sponsers div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 20px;
}

/*----------- sponsers section ends -----------*/

#close-icon,
#menu-icon {
	display: none;
}
.small-nav-buttons {
	display: none;
}

/*----------- media query for responsive design -----------*/

@media only screen and (max-width: 1150px) {
	.header-container {
		flex-direction: column;
		margin-top: 50px;
	}

	.header-left {
		gap: 20px;
	}

	.header-right img {
		width: 50%;
	}

	.header-right {
		justify-content: center;
	}

	.header-right :is(i, p, span) {
		display: none;
	}
	.header-right div:nth-child(2) {
		width: 100%;
		display: flex;
		justify-content: center;
		gap: 10px;
	}

	.header-right div:nth-child(3) {
		display: none;
	}

	.header-left-bg {
		top: -20px;
		width: 100%;
	}
}

@media only screen and (max-width: 900px) {
	#close-icon,
	#menu-icon {
		display: block;
		font-size: 25px;
		cursor: pointer;
		background-color: #0000000e;
		padding: 3px 9px;
		border-radius: 50px;
	}

	.small-nav-buttons {
		display: flex;
		margin-top: 50px;
		gap: 5px;
		flex-direction: column;
		width: 100%;
	}
	.small-nav-buttons a {
		width: 100%;
	}

	.nav-buttons {
		display: none;
	}

	:is(#close-icon, #menu-icon):hover {
		background-color: #00000025;
	}

	.navlinks {
		position: fixed;
		top: 0;
		right: -100%;
		background-color: #fff;
		z-index: 1000;
		box-shadow: 0 0 40px rgba(0, 0, 0, 0.07);
		padding: 120px 30px;
		width: 350px;
		height: 100vh;
		flex-direction: column;
		align-items: start;
		gap: 25px;
	}

	.navlinks li {
		width: 100%;
	}

	#close-icon {
		position: absolute;
		top: 30px;
		left: 25px;
	}

	.navlinks li a {
		border-bottom: 1px solid black;
		display: block;
		width: 100%;
		padding-bottom: 8px;
	}

	.header-left h1 br {
		display: none;
	}
	.sponser-blur-effect{
		top: 150%;
	}
}

@media only screen and (max-width: 767px) {
	.navlinks {
		width: 100%;
	}

	.header-left h1 {
		font-size: 50px;
	}

	.search-box {
		padding: 15px;
		font-size: 15px;
		box-shadow: 0 0 50px rgba(0, 0, 0, 0.164);
	}

	.search-box div:nth-child(2) {
		padding: 0 10px;
	}

	.search-box div:nth-child(3) {
		padding: 0 10px;
	}

	.search-box div:nth-child(2) {
		border-left: 1px solid silver;
	}

	.search-box div:nth-child(3) {
		border-left: 1px solid silver;
		border-right: 1px solid silver;
	}
	.sponsers {
		padding: 10px 0;
		margin: 50px 0;
	}
	.sponser-blur-effect{
		top: 130%;
	}
}

@media only screen and (max-width: 500px) {
	.header-left h1 {
		font-size: 40px;
		line-height: 50px;
	}
	.header-right div {
		flex-direction: column;
	}
	.header-right img {
		width: 100%;
		object-fit: contain;
	}
	.header-left-bg {
		top: -20px;
		transform: rotate(10deg);
	}
	.search-box {
		padding: 15px 10px;
		font-size: 12px;
	}
	.search-box div:last-child i {
		padding: 7px 12px;
		font-size: 17px;
	}
	.sponsers div {
		justify-content: center;
	}
	.sponser-blur-effect{
		top: 200%;
	}
}
